.body{
    background: black;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.header{
    display: flex;
    max-width: 880px;
    padding-bottom: 41px;
    margin: 45px auto 36.25px auto;
    border-bottom: #545454 1px solid ;
    
}
.header__logo{





}
.profil{
    display: grid;
    grid-template-columns:auto auto  1fr;
    align-items: center;
    
    max-width: 880px;
    margin: 0 auto 51px auto;
}
.profil__avatar{
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    margin-right: 30px;
    
    display: block;
}
.profil__data{
    max-width: 450px;
    justify-self:start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
  
}
.profil-title-conteiner{
    display: flex;
}
.profil__title{
    max-width: 300px;
    color: white;
    margin: 22px 0 16px 0;
    font-size: 42px;
    line-height: 48px;
    margin-right: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.profil__subtitle{
    max-width: 300px;
    color: white;
    margin: 0;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button-pen{
    background-image:url(images/Vector0.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 7px;
    cursor: pointer;
    border: 1px solid white;
    align-self: center;
    background-color: black;
    border-radius: 0;
    width: 24px;
    height: 24px;
    
}
.button-plus{
    background-image:url(images/Plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    justify-self:end ;
    align-self: center;
    grid-row: span 2;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    background-color: black;
    width: 9.37rem;
    height: 3.1rem;
    
    
}
.button-add_card{
    
    
    
    
}
.popup__button_invalid {
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .5);
    background:#e9e9e9;
}






.grid-cards{
    max-width: 880px;
    margin: 0 auto 66px auto;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(282px, 282px));*/
    grid-template-columns:repeat(auto-fit,282px);
    grid-template-rows: max-content;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    background: black;
    justify-content: center;
    
}
.grid-card{
    background: white;
    border-radius: 10px;
    position: relative;
    list-style-type: none;
    

}
.grid-csrd__block{
    display: flex;
    justify-content: space-between;
    max-width: 246px;
    margin: 25px 15px 31px 21px;
}
.button_like{
    border: none;   
    opacity: 0.5;
    background: url(images/Vector.png) center no-repeat;
    background-size: 100%;
    width: 20px;
    height: 18px;
    transition: 0.3s;
    padding: 0;
    outline: none;
}
.button_like:hover{ 
    transform: scale(1.3);  
}


.button_like-active{
    background:url("images/Union.png") center no-repeat ;
    opacity: 1;
    
}






.grid-card__img{
width: 282px;
height: 282px;
background: url(images/kirill-pershin-1088404-unsplash.png);
border-radius: 0;
}

.grid-card__img-active{
    
    position: fixed;
    z-index:2 ;
    left: 12.5vw;
    top:12.5vh;
    width: 75vw;
    height: 75vh;   
}
.grid-card__img-active::before{
    content: '';
    position: fixed;
    background: rgba(30,30,30,0.3);
    z-index: 1;
    display: block;
    top:0;
    left: 0;
    width: 100%;
    height: 100%; 
}



.grid-card__title{
    margin: 0;
}
.grid-card__button-remove{
    background-image: url(images/Delete.svg);
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}



.footer{
    max-width: 880px;
    margin: 0 auto 0 auto;
}
.avtor{
    color: white;
}




.form{
    display: flex;
    flex-direction: column;

}
.form__input{
    border: none;
    border-bottom: solid 1px black;
    margin-bottom: 30px;
    width: 330px;
    height: 23px;
}
.form__input-profession{
    border: none;
    border-bottom: solid 1px black;
    margin-bottom: 48px;

}
.popup__input_state_invalid {
    border-bottom: 2px solid red;
}
.form__button{
    max-width: 358px;
    height:50px ;
    color: white;
    background: black;
    
}
.popup{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.3);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup__visible{
    display: flex;
}
.popup__window{
    background-color: #fff;
    padding: 34px 36px 37px 36px;
    border-radius: 15px;
    max-width: 430px;
    max-height: 330px;
    position: relative;
    box-sizing: border-box;
    
}
.popup__close-button{
    position: absolute;
    right: -48px;
    top: -48px;
    background-image: url(images/Close\ Icon.png);
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:900px){

}

@media screen and (max-width:670px){
    .profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    
    margin-bottom: 36px;
    }
    .button-plus{
        border: 1px solid white;
        padding: 14px 64px 14px 64px;
        width: 282px;
        height: 50px;
        justify-self:center ;
        align-self: center;
        
    }
 
    .profil__subtitle{
        
        align-self: center;
    }
    .profil__data{
        margin-bottom: 20px;
    }

}